* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.banner {
    width: 1280px;
    margin: auto;
}

.banner img {
    width: 100%;
}

.salecoupenWrapper {
    width: 1280px;
    margin: auto;
    height: 227px;
}

.salecoupenWrapper img {
    height: 195px;
    width: 335px;
    margin: 15px 16px;
}

.items-container {
    width: 1280px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: auto;
}

.items-container a img {
    height: 188px;
}

.Carousel-Container1 {
    width: 1280px;
    margin: auto;
    margin-bottom: 40px;
    height: 400px;
    position: relative;
}

.cardHeader {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cardHeader h2 {
    font-size: 24px;
    color: #1c1c1c;
}

.cardHeader a {
    font-size: 20px;
    text-decoration: none;
    color: #0c831f;
}



.leftclick,
.rightclick {
    /* height: 30px; */
    cursor: pointer;
    /* width: 30px; */
    background-color: #ffffff;
   padding: 6px;
    display: flex;font-size: 18px;
    justify-content: center;
    align-items: center;
   border-radius: 50%;
    position: absolute;
   box-shadow: 0px 0px 10px 1px #ccc;
}

.leftclick i,
.rightclick i {
    color: black;
}

.leftclick {
    top: 200px;
}

.rightclick {
    top: 200px;
    right: 0;
}
