header {
    background-color: white;
    height: 86px;
    width: 100%;
    border-bottom: 1px solid rgb(238, 238, 238);
    display: flex;
    font-family: "Poppins", sans-serif;
    font-weight: 500;

    /* position: relative; */
    /* z-index: 1000; */
    /* flex-wrap: nowrap; */
}

.logo-left {
    display: flex;
    width: 35%;
}

.logo {
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 178px;
}

.searchbar {
    width: 50%;
}

.verticleline {
    width: 1px;
    background-color: rgb(242, 242, 242);
    height: 100%;
}

.CustmerLocation {
    height: 86px;
    width: 320px;
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    padding-left: 50px;
    flex-direction: column;
}

.CustmerLocation h2 {
    font-size: 18px;
    color: black;
    font-weight: 800;
    margin-bottom: 2px;
}

.CustmerLocation p {
    font-size: 13px;
    font-weight: 400;
    width: 100%;
}

.CustmerLocation p i {
    margin-left: 7px;
    font-size: 16px;
}

.searchbar {
    height: 86px;
    width: 610px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

.searchbaricon {
    position: relative;
    height: 46px;
    width: 90%;
}

.searchbaricon i {
    position: absolute;
    top: 10px;
    font-size: 17px;
    top: 15px;
    color: #1f1f1f;
    left: 20px;
}

.searchbaricon input {
    height: 46px;
    border-radius: 12px;
    background-color: #F8F8F8;
    outline: none;
    font-size: 18px;
    width: 100%;
    box-sizing: border-box;
    padding-left: 50px;
    color: rgb(130, 130, 130);

    border: 1px solid rgba(0, 0, 0, 0.04);

}

.right {
    width: 15%px;
    height: 86px;
    display: flex;
    margin-right: 15px;
}

.login {
    width: 162px;
    height: 86px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}

.login a {
    text-decoration: none;
    color: #363636;
}

.mycart {
    width: 112px;
    height: 86px;
    display: flex;
    align-items: center;
}

.mycartitem {
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    color: #ffffff;
    justify-content: center;
    border-radius: 8px;
    background-color: #cccccc;
}

.mycartitem i {
    display: flex;
    gap: 5px;
    font-size: 16px;
    margin-right: 10px;
}

.mycartitem p {
    font-size: 16px;
}



.card-Container {
    width: 100%;
    /* margin-top: 10px; */
    display: flex;
    gap: 20px;
    padding-bottom: 15px;
    overflow: hidden;
}

.card-Container .card {
    width: 179px;
    border-radius: 10px;
    flex-shrink: 0;
    cursor: pointer;
    height: 350px;
    position: relative;
    border: 1px solid #E8E8E8;
    box-shadow: 0px 0px 25px white;
    box-shadow: rgba(0, 0, 0, 0.04) 2px 2px 8px;
}

.cardImage {
    height: 140px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.card img {
    height: 140px;
    width: 140px;
}

.card .timer {
    margin-left: 13px;
    color: #363636;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 8px;
    font-size: 9px;
    border-radius: 4px;
    background-color: #f5f3f3;
}

.card h4 {
    color: #1f1f1f;
    margin-left: 13px;
    font-size: 13px;
    margin-top: 8px;
}

.card .productUnit {
    color: #666666;
    font-size: 12px;
    margin-left: 13px;
    margin-top: 13px;
    margin-bottom: 13px;
}

.productPrice {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-around;
    gap: 15px;
    margin-bottom: 10px;
    position: absolute;
    bottom: 10px;
}

.productPrice p {
    font-size: 15px;
    color: #1f1f1f;
    font-weight: bold;
}

.productPrice button {
    color: #318616;
    font-size: 14px;
    background-color: #F7FFF9;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid rgb(26, 100, 3);
}


.FooterWrapper {
    width: 1280px;
    margin: auto;
    display: flex;
}

.footerleft {
    width: 30%;
}

.footerleft h3 {
    font-size: 18px;
    margin-bottom: 20px;
}

.footer-left-links {
    display: grid;
    grid-template-columns: auto auto auto;
}

.footer-left-links ul {
    list-style: none;
}

.footer-left-links ul li {
    margin-top: 10px;
}

.footer-left-links ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #666666;
}

.footerright {
    width: 70%;
}

.footerrightHeader {
    display: flex;
    margin-bottom: 20px;
    gap: 30px;
}

.footerrightHeader h3 {
    font-size: 18px;
}

.footerrightHeader a {
    color: #0c831f;
    font-size: 17px;
    text-decoration: none;
}

.footer-right-links {
    display: grid;
    grid-template-columns: auto auto auto;
}

.footer-right-links ul {
    list-style: none;
}

.footer-right-links ul li {
    margin-top: 10px;
}

.footer-right-links ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #666666;
}

footer {
    width: 1280px;
    margin: auto;
    margin-top: 50px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    /* background-color: red; */
    background-color: #FCFCFC;
}

.footerLeft {
    width: 334px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerLeft p {
    font-size: 13px;
    color: #666666;
}

.footerMiddle {
    display: flex;
    width: 334px;
    align-items: center;
    margin-left: 30px;
    gap: 15px;
}

.footerMiddle p {
    font-size: 14px;
    color: #666666;
}

.footerMiddle img {
    height: 30px;
    cursor: pointer;
    width: 92px;
}

.footerRight {
    margin-left: -90px;
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.footerRight img {
    cursor: pointer;
}

.footerRight img:nth-child(5) {
    border-radius: 50%;
}

.lastFooter {
    width: 1280px;
    margin: auto;
}

.lastFooter p {
    font-size: 14px;
    color: #666666;
}